#define mylaout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href="css/cl-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="highlight/styles/railscasts.css">
</head>

<script>
    function transfromTime(time) {
        var timeStamp = new Date(time);
        var nowStamp = new Date().getTime();

        var second = Math.floor((nowStamp - timeStamp) / 1000);
        var minute = Math.floor(second / 60);
        var hour = Math.floor(minute / 60);
        var day = Math.floor(hour / 24);
        var month = Math.floor(day / 31);
        var year = Math.floor(day / 365);

        if (year > 0) {
            return year + "年前";
        } else if (month > 0) {
            return month + "月前"
        } else if (day > 0){
            if (day >=7 && day < 14) {
                return "1周前"
            } else if (day >=14 && day < 21) {
                return "2周前"
            } else if (day >=21 && day < 28) {
                return "3周前"
            } else if (day >=28 && day < 21) {
                return "4周前"
            } else {
                return day + "天前"
            }
        } else if (hour > 0) {
            return hour + "小时前"
        } else if (minute > 0) {
            return minute + "分钟前"
        } else if (second > 0) {
            return second + "秒前"
        } else {
            return "刚刚"
        }
    }
</script>

<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
            <a class="navbar-brand" href="/">
                <img src="#option('calmlog_logo','img/logo.jpg')" height="80" alt="">
            </a>
            <ul class="navbar-nav">
                #for(menu : MENUS)
                    <li class="nav-item #(menu.isActive ? 'active' : '')">
                        <a class="nav-link" href="#(menu.url)">#(menu.text) <span class="sr-only">(current)</span></a>
                    </li>
                #end
            </ul>
    </div>
</div>

<div class="cl-container container">
        #@content()
</div>
<div class="container-fluid cl-footer">
    <div class="container">
        <span>Copyright © 2019.Onesbook All rights reserved. </span>
    </div>
</div>
<script src="jquery/jquery.min.js"></script>
<script src="highlight/highlight.pack.js"></script>
#@script?()
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
#end