#define mylaout()
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <link href="css/cl-css.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="highlight/styles/railscasts.css">
</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
            <a class="navbar-brand" href="/">
                <img src="#option('calmlog_logo','img/logo.jpg')" height="80" alt="">
            </a>
            <ul class="navbar-nav">
                #for(menu : MENUS)
                    <li class="nav-item #(menu.isActive ? 'active' : '')">
                        <a class="nav-link" href="#(menu.url)">#(menu.text) <span class="sr-only">(current)</span></a>
                    </li>
                #end
            </ul>
    </div>
</div>

<div class="cl-container container">
        #@content()
</div>
<div class="container-fluid cl-footer">
    <div class="container">
        <span>Copyright © 2019.Onesbook All rights reserved. </span>
    </div>
</div>
<script src="jquery/jquery.min.js"></script>
<script src="highlight/highlight.pack.js"></script>
#@script?()
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
#end