#include("./_layout.html")
#@mylaout()

#define script()
<script>
    //定义匿名评论用户列表
    var anonymousList = [
        {
            name: "公孙离",
            avatar: "../templates/sixther/img/anon_user0.jpg"
        },
        {
            name: "百里玄策",
            avatar: "../templates/sixther/img/anon_user1.jpg"
        },
        {
            name: "苏烈",
            avatar: "../templates/sixther/img/anon_user2.jpg"
        },
        {
            name: "凯",
            avatar: "../templates/sixther/img/anon_user3.jpg"
        },
        {
            name: "杨玉环",
            avatar: "../templates/sixther/img/anon_user4.jpg"
        }
    ]

    var isLoginUserFlag = (document.cookie.indexOf("_jpuid") > -1);
    //处理评论框的placeholder
    var clCommentText = document.querySelector(".cl-textedit");
    var clReplyButtom = document.querySelectorAll(".cl-comment-reply");
    clCommentText.oninput = function () {
        var clCommentValue = this.innerHTML;
        if (clCommentValue) {
            this.classList.add('cl-textplaceholder');
        } else {
            this.classList.remove('cl-textplaceholder');
        }
    }

    //评论处@其他用户
    for(i=0; i<clReplyButtom.length; i++) {
        (function (x) {
            var commentPanelContent = clReplyButtom[x].parentNode.parentNode.parentNode;
            window.aa = commentPanelContent;
            var atUser = commentPanelContent.children[1].children[1].children[0].innerHTML;
            var commentContent = commentPanelContent.getAttribute("value");
            var userId = commentPanelContent.getAttribute("userid");
            //当时一条匿名评论时
            if (userId == '') {
                var anonUserIndex = parseInt(commentContent[0]);
                commentContent = commentContent.substr(1, commentContent.length - 1);
                atUser = anonymousList[anonUserIndex].name;
                var userAvatar =  anonymousList[anonUserIndex].avatar;
                commentPanelContent.children[0].children[0].src = userAvatar;
                commentPanelContent.children[1].children[1].children[0].innerHTML = atUser;
            }
            commentPanelContent.children[1].children[0].innerHTML = commentContent;
            clReplyButtom[x].onclick = function () {
                clCommentText.innerHTML += "<span>@" + atUser + "</span>&nbsp";
                clCommentText.classList.add('cl-textplaceholder');
            }
        })(i)
    }
    //提交评论
    $('#commentSubmit').on('click', function () {
        //随机一个匿名用户的id
        var anonUserIndex = Math.floor(Math.random() * 5);
        $.ajax({
            url: "#(CPATH)/article/postComment",
            type: 'POST',
            data: {
                articleId: $("[name='articleId']")[0].value,
                pid: $("[name='pid']")[0].value,
                content: isLoginUserFlag ? clCommentText.innerHTML : anonUserIndex + clCommentText.innerHTML
            },
            success: function(result) {
                if(result.state == "ok") {
                    var commentText = isLoginUserFlag ? result.comment.text : result.comment.text.substr(1, result.comment.text.length - 1);
                    var commentAuthor = isLoginUserFlag ? result.comment.author : anonymousList[parseInt(result.comment.text[0])].name;
                    var commentAvatar = isLoginUserFlag? result.user.avatar: anonymousList[parseInt(result.comment.text[0])].avatar;
                    var firstCommentNode = document.querySelector(".comment-panel");
                    var newCommentNode = document.querySelector("#commentTemplate").cloneNode(true);
                    newCommentNode.style.display = "flex";
                    newCommentNode.setAttribute("id", "");
                    newCommentNode.querySelector(".comment-panel-content-main").innerHTML = commentText;
                    newCommentNode.querySelector(".cl-comment-date").querySelector("span").innerHTML = transfromTime(result.comment.created);
                    newCommentNode.querySelector(".cl-comment-author").innerHTML = commentAuthor;
                    newCommentNode.querySelector("img").src = commentAvatar;
                    if (result.comment.author == "#(article.user.nickname)") {
                        newCommentNode.querySelector(".cl-comment-author-self").style.display = "inline-block";
                    }
                    firstCommentNode.before(newCommentNode);
                    clCommentText.innerHTML = '';
                    clCommentText.classList.remove('cl-textplaceholder');

                } else {

                }

            }
        })
    });
</script>
#end

#define content()
<div class="cl-article-page-wrapper">
    <div class="cl-artical-content">
        <div class="cl-artical-location">
            <a  class="cl-text" href="/">首页</a> <i class="cl-text fa fa-caret-right" aria-hidden="true"></i>
            #articleCategories(article.id,"category")
                #for(category : categories)
                    <a class="cl-text" href="#(category.url ??)">#(category.title ??)</a> <i class="cl-text fa fa-caret-right" aria-hidden="true"></i>
                    #if(for.last)
                        #set(lastCategory = category.title ??)
                    #end
                #end
            #end
            <span class="cl-text cl-artical-name">Nginx 上部署 TLS1.3、Brotli、ECC双证书实践</span>
        </div>
        <div class="cl-artical-title">
            <h2>#(article.title)</h2>
        </div>
        <div class="cl-artical-meta">
            <img src=#(article.user.avatar) alt="">
            <div class="cl-artical-author-info">
                <div class="cl-artical-author">
                    <span>#(article.user.nickname)</span>
                </div>
                <div class="cl-artical-date">
                    <span>
                        <script>
                            document.write(transfromTime("#(article.created)"));
                        </script>
                    </span> 发布在
                    <span>
                        #(lastCategory)
                    </span>
                </div>
            </div>
            <div class="cl-artical-comment-view">
                <span class="cl-artical-view"><i class="fa fa-eye" aria-hidden="true"></i> #(article.view_count)</span>
                <span><i class="fa fa-commenting-o" aria-hidden="true"></i> #(article.comment_count)</span>
            </div>
        </div>

        <div class="cl-article-line"></div>

        <div class="cl-artical">
            #(article.content)
        </div>


        <!--#relevantArticles(article)-->
        <!--<div class="recommend-panel">-->
        <!--<h4 class="right-card-title">相关文章</h4>-->
        <!--<div class="card-deck">-->

            <!--#for(article :relevantArticles )-->
            <!--<div class="card ll-panel">-->
                <!--<a class="recommend-panel-link" href="#(article.url ??)">-->
                    <!--<div class="recommend-panel-top">-->
                        <!--<img src="#(article.showImage ?? 'temporary-img/list-image1.jpg')" class="img-fluid"-->
                             <!--alt="#(article.title ??)">-->
                    <!--</div>-->
                    <!--<div class="recommend-panel-bottom">-->
                        <!--#(article.title ??)-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--#end-->

        <!--</div>-->
    <!--</div>-->
        <!--#end-->

        <div class="cl-article-line"></div>
        <div class="comment-title">
            <span>评论</span>
        </div>
        <div class="comment" id="allComment">
            <input type="hidden" name="articleId" value="#(article.id)">
            <input type="hidden" name="pid" id="pid">

            <div class="cl-textarea">
                <div class="cl-textedit" spellcheck="false" contenteditable="true" placeholder="在此输入评论内容..."></div>
                <div class="cl-texttool">
                    <span>
                        <i id="commentSubmit" class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="comment-vcode">
                #if(option('article_comment_vcode_enable'))
                <input placeholder="请输入验证码" name="captcha">
                <img class="vcode-img" src="/commons/captcha" onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();">
                #end
            </div>
            <!-- 评论模板 -->
            <div id="commentTemplate" class="comment-panel" style="display: none">
                <div class="comment-panel-portrait">
                    <img src="" alt="">
                </div>
                <div class="comment-panel-content">
                    <div class="comment-panel-content-main">
                    </div>
                    <div class="comment-panel-content-item">
                        <span class="cl-comment-author"></span>
                        <span class="cl-comment-author-self" style="display: none">作者</span>
                        <span class="cl-comment-date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            #commentPage(pageSize=100)
            #for(comment : commentPage.list)
            <div class="comment-panel"  value="#(comment.content)" userid="#(comment.user_id)">
                <div class="comment-panel-portrait">
                    <img src="#(comment.user.avatar ?? )" alt="">
                    <!--<img src="img/portrait.png" class="img-fluid rounded-circle" alt="">-->
                </div>
                <div class="comment-panel-content">
                    <div class="comment-panel-content-main">
                        <!--#(comment.content)-->
                    </div>
                    <div class="comment-panel-content-item">
                        <span class="cl-comment-author">#(comment.author)</span>
                        #if(comment.author == article.user.nickname)
                            <span class="cl-comment-author-self">作者</span>
                        #end
                        <span class="cl-comment-date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>
                                <script>
                                    document.write(transfromTime("#(comment.created)"));
                                </script>
                            </span>
                        </span>
                        <span class="cl-comment-reply">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                            <span>回复</span>
                        </span>
                    </div>
                </div>
            </div>
            #end
            #end

            <!--#commentPaginate(anchor="allComment")-->
            <!--<nav aria-label="Page navigation example">-->
                <!--<ul class="pagination justify-content-center ">-->
                    <!--#for(page : pages)-->
                    <!--<li class="page-item #(page.style)"><a class="page-link" href="#(page.url ??)">#(page.text)</a></li>-->
                    <!--#end-->
                <!--</ul>-->
            <!--</nav>-->
            <!--#end-->
        </div>
    </div>

    <div class="cl-rightbar">
    #include("_rightbar.html")
    </div>
</div>

#end