#include("./_layout.html")
#@mylaout()

#define script()
<script>
    //处理评论框的placeholder
    var clCommentText = document.querySelector(".cl-textedit");
    var clReplyButtom = document.querySelectorAll(".cl-comment-reply");
    clCommentText.oninput = function () {
        var clCommentValue = this.innerHTML;
        if (clCommentValue) {
            this.classList.add('cl-textplaceholder');
        } else {
            this.classList.remove('cl-textplaceholder');
        }
    }

    //评论处@其他用户
    for(i=0; i<clReplyButtom.length; i++) {
        (function (x) {
            var commentPanelContent = clReplyButtom[x].parentNode.parentNode;
            var atUser = commentPanelContent.children[1].children[0].innerHTML;
            var commentContent = commentPanelContent.children[0].getAttribute("value");
            commentPanelContent.children[0].innerHTML = commentContent;
            clReplyButtom[x].onclick = function () {
                clCommentText.innerHTML += "<span>@" + atUser + "</span>&nbsp;&nbsp";
                clCommentText.classList.add('cl-textplaceholder');
            }
        })(i)
    }
    //提交评论
    $('#commentSubmit').on('click', function () {
        $.ajax({
            url: "#(CPATH)/article/postComment",
            type: 'POST',
            data: {
                articleId: $("[name='articleId']")[0].value,
                pid: $("[name='pid']")[0].value,
                content: clCommentText.innerHTML
            },
            success: function(result) {
                if(result.state == "ok") {
                    var firstCommentNode = document.querySelector(".comment-panel");
                    var newCommentNode = firstCommentNode.cloneNode(true);
                    newCommentNode.querySelector(".comment-panel-content-main").innerHTML = result.comment.text;
                    newCommentNode.querySelector(".cl-comment-date").querySelector("span").innerHTML = result.comment.created;
                    newCommentNode.querySelector(".cl-comment-author").innerHTML = result.comment.author;
                    newCommentNode.querySelector("img").src = result.user.avatar;
                    firstCommentNode.before(newCommentNode);
                    clCommentText.innerHTML = '';
                    clCommentText.classList.remove('cl-textplaceholder');

                } else {

                }

            }
        })
    });
</script>
#end

#define content()
<div class="cl-article-page-wrapper">
    <div class="cl-artical-content">
        <div class="cl-artical-location">
            <a  class="cl-text" href="/">首页</a> <i class="cl-text fa fa-caret-right" aria-hidden="true"></i>
            #articleCategories(article.id,"category")
                #for(category : categories)
                    <a class="cl-text" href="#(category.url ??)">#(category.title ??)</a> <i class="cl-text fa fa-caret-right" aria-hidden="true"></i>
                    #if(for.last)
                        #set(lastCategory = category.title ??)
                    #end
                #end
            #end
            <span class="cl-text cl-artical-name">Nginx 上部署 TLS1.3、Brotli、ECC双证书实践</span>
        </div>
        <div class="cl-artical-title">
            <h2>#(article.title)</h2>
        </div>
        <div class="cl-artical-meta">
            <img src=#(article.user.avatar) alt="">
            <div class="cl-artical-author-info">
                <div class="cl-artical-author">
                    <span>#(article.user.realname)</span>
                </div>
                <div class="cl-artical-date">
                    <span>9月前 发布在</span>
                    #set(x=123)
                    <span>
                        #(lastCategory)
                    </span>
                </div>
            </div>
            <div class="cl-artical-comment-view">
                <span class="cl-artical-view"><i class="fa fa-eye" aria-hidden="true"></i> #(article.view_count)</span>
                <span><i class="fa fa-commenting-o" aria-hidden="true"></i> #(article.comment_count)</span>
            </div>
        </div>

        <div class="cl-article-line"></div>

        <div class="cl-artical">
            #(article.content)
        </div>


        #relevantArticles(article)
        <div class="recommend-panel">
        <h4 class="right-card-title">相关文章</h4>
        <div class="card-deck">

            #for(article :relevantArticles )
            <div class="card ll-panel">
                <a class="recommend-panel-link" href="#(article.url ??)">
                    <div class="recommend-panel-top">
                        <img src="#(article.showImage ?? 'temporary-img/list-image1.jpg')" class="img-fluid"
                             alt="#(article.title ??)">
                    </div>
                    <div class="recommend-panel-bottom">
                        #(article.title ??)
                    </div>
                </a>
            </div>
            #end

        </div>
    </div>
        #end

        <div class="cl-article-line"></div>
        <div class="comment-title">
            <span>评论</span>
        </div>
        <div class="comment" id="allComment">
            <input type="hidden" name="articleId" value="#(article.id)">
            <input type="hidden" name="pid" id="pid">

            <div class="cl-textarea">
                <div class="cl-textedit" spellcheck="false" contenteditable="true" placeholder="在此输入评论内容..."></div>
                <div class="cl-texttool">
                    <span>
                        <i id="commentSubmit" class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </div>

            <div class="comment-vcode">
                #if(option('article_comment_vcode_enable'))
                <input placeholder="请输入验证码" name="captcha">
                <img class="vcode-img" src="/commons/captcha" onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();">
                #end
            </div>
            #commentPage()
            #for(comment : commentPage.list)
            <div class="comment-panel">
                <div class="comment-panel-portrait">
                    <img src="#(article.user.avatar)" alt="">
                    <!--<img src="img/portrait.png" class="img-fluid rounded-circle" alt="">-->
                </div>
                <div class="comment-panel-content">
                    <div class="comment-panel-content-main" value="#(comment.content)">
                        <!--#(comment.content)-->
                    </div>
                    <div class="comment-panel-content-item">
                        <span class="cl-comment-author">#(comment.author)</span>
                        <span class="cl-comment-date">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <span>#(comment.created )</span>
                        </span>
                        <span class="cl-comment-reply">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                            <span>回复</span>
                        </span>
                    </div>
                </div>
            </div>
            #end
            #end


            <!--#commentPaginate(anchor="allComment")-->
            <!--<nav aria-label="Page navigation example">-->
                <!--<ul class="pagination justify-content-center ">-->
                    <!--#for(page : pages)-->
                    <!--<li class="page-item #(page.style)"><a class="page-link" href="#(page.url ??)">#(page.text)</a></li>-->
                    <!--#end-->
                <!--</ul>-->
            <!--</nav>-->
            <!--#end-->
        </div>
    </div>

    <div class="cl-rightbar">
    #include("_rightbar.html")
    </div>
</div>

#end