#include("./_layout.html")
#@mylaout()


#define content()
<div class="cl-index-page-wrapper">
    <div class="cl-artical-content">
    <div class="cl-article-box">
        #articlePage()
        #for(article : articlePage.list)
        <div class="cl-article-box-item">
            <a href="#(article.url)">
                <img src="#(article.thumbnail ?? 'img/default-img.jpg')" alt="">
                <div class="cl-article-card-title">
                    #(article.title)
                </div>
            </a>
            <div class="cl-article-brief-info">
                <span class="cl-article-date">
                    1天前
                </span>

                <span class="cl-article-view-num">
                    <i class="fa fa-eye" aria-hidden="true"></i> #(article.view_count)
                </span>
            </div>
        </div>
        #end
        #end
    </div>
    </div>
    <div class="cl-rightbar">
        #include("./_rightbar.html")
    </div>

</div>
#end
